body {
    position: relative;
    margin: 0;
    overflow: hidden;
}
#test5 {
    top: 20%;
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}
#test {
  position: absolute;width: 100%;height: 100%;overflow-y: auto;
}
#test1 {
    width: 100%;
    border-radius: 5vw;
}
#test2 {
    top: 0;
    position: absolute;
    width: 100%;
    height: auto;
    background-color: aliceblue;
    text-align: center;
}
#test3 {
    color: aqua;
    font-size: 10vw;
    margin: 0;

}
#test4 {
    position: absolute;
    font-size: 10vw;
    color: rgb(255, 0, 0);
    left: 2%;
    top: 2%;

}

#meno_add_span {
    float: right;
    position: absolute;
    font-size: 5vw;
    color: #ADEBF0;
    left: 10;
    top: 19;
    
}


#add_meno_file {
    display: none;
}


#meno_div {
    position: relative;
    width: 90%;
    height: auto;
    margin-left: 5%;
    margin-top: 3vw;
    text-align: center;

}
#meno_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5vw;
    /* position: absolute; */

}
#meno_h1_div {
    background-color: #906a509e;
    
    
    position: absolute;
    margin-bottom: 30vw;
    width: 100%;
    height: auto;
    text-align: center;
}
#meno_h1 {
    background-color: #906a509e;
    width: 100%;
    margin: 0;
    top: 0;
    font-size: 10vw;
   
    
}
hr {
    position: absolute;
}

#delete {
    z-index: 1;
    margin-top: -30%;
    position: absolute;
    width: 50%;
    margin-left: 25%;
    height: 10vw;
    background-color: red;
    border: solid 0 ;
    
}
#meno_edit {
    left: 3%;
    top: 67%;
    position: absolute;
    font-size: 8vw;
    background-color: aliceblue;
    color: #ADEBF0;
    border-radius: 10vw;
    border: solid 1vw black;
    padding: 1vw;
}

