body {
    position: relative;
    margin: 0;
    overflow: hidden;
}

#test {
    position: absolute;
    width: 10px;
    height: 10px;
    left: 10px;
    top: 10px;
    background-color: aqua;
}
#meno_add_span {
    float: right;
    position: absolute;
    font-size: 5vw;
    color: #ADEBF0;
    left: 10;
    top: 19;
    
}


#add_meno_file {
    display: none;
}


#meno_div {
    position: relative;
    width: 90%;
    height: auto;
    margin-left: 5%;
    margin-top: 3vw;
    text-align: center;

}
#meno_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5vw;
    /* position: absolute; */

}
#meno_h1_div {
    background-color: #906a509e;
    
    
    position: absolute;
    margin-bottom: 30vw;
    width: 100%;
    height: auto;
    text-align: center;
}
#meno_h1 {
    background-color: #906a509e;
    width: 100%;
    margin: 0;
    top: 0;
    font-size: 10vw;
   
    
}
hr {
    position: absolute;
}

