body {
    position: relative;
    margin: 0;
    overflow: hidden;
}

#test {
    position: absolute;
    width: 10px;
    height: 10px;
    left: 10px;
    top: 10px;
    background-color: aqua;
}
#meno_add_span {
    float: right;
    position: absolute;
    font-size: 5vw;
    color: #ADEBF0;
    left: 10;
    top: 19;
    
}


#m_add_file {
    display: none;
}

